:root { }
* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    display:inline-block;
}
img{
    width: 100%;
}
.bgc__white{
    background-color: white;
}
.bgc__black{
    background-color:black;
}
.bgc__dark-blue{
    background-color:#2c3e50;
}

.color__white{
    color:white;
}
.color__dark-blue{
    color:#2c3e50;
}
/* Header */
.header{
    background-color:#2C3E50 ;
    height:100px;
    font-weight:700;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    position:sticky;
    top:0; 
}
.header .header__menu{
    display:flex;
    justify-content: space-between;
    height:100%;
    align-items: center;
}
.header .header__menu .header__menu-left{

}
.header .header__menu .header__menu-left .left__logo{
    color:white;
    font-size: 28px;
}
.header .header__menu .header__menu-right{
    display:flex;
}
.header .header__menu .header__menu-right .right__list{
    margin:0 4px;
}
.header .header__menu .header__menu-right .right__list .right__list-item{
    color:white;
    font-size: 18px;
    padding: 16px;
}
.header .header__menu .header__menu-right .right__list .right__list-item:hover{
    color:#1ABC9C;
}
.header .header__menu .header__menu-right .right__list .right__list-item:active{
    background-color:#1ABC9C;
    color:white;
}
/* End Header */
.banner{
    background-color:#1ABC9C ;
    padding-top: 70px;
    padding-bottom:96px;
    color:white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    height:635px;
}
.banner .banner__section{
    height:100%;

}
.banner .banner__section .banner__section-image{
    width:240px;
    height:255px;
    margin-bottom: 48px;
}
.banner .banner__section .banner__section-title{
    font-size: 44px;
    font-weight:700;
    text-transform: uppercase;  
}
.banner .banner__section .banner__section-devider{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    margin-bottom: 24px;
}

 .devider__left{
    border-radius: 16px;
    width:112px;
    height:4px;
}
.devider__star{
    margin: 0 16px;
}
.devider__right{
    border-radius: 16px;
    width:112px;
    height:4px;
}
.banner .banner__section .banner__section-description{
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    text-transform:capitalize;
    font-family: 'Lato', sans-serif;
}
/* Portfolio */
.portfolio{
    display:flex;
    justify-content: center;
    align-items: center;
    /* height:850px; */
}
.portfolio .portfolio__section{
    text-align: center;
    margin:95px 75px;/*tai sao margin ko duoc*/
    width:100%;
    /* height:851px; */
    /* height:100%; */
    color: #2c3e50;
}
.portfolio .portfolio__section .portfolio__section-title{
    font-size: 36px;
    line-height:32px;
    font-family: 'Montserrat', sans-serif;
}
.portfolio .portfolio__section .portfolio__section-devider{
    margin: 30px 0 35px 0;
    display:flex;
    justify-content: center;
    align-items: center;
}

.portfolio .portfolio__section .portfolio__grid{
}
.portfolio .portfolio__section .portfolio__grid .portfolio__grid-photo{
    border-radius: 16px;
}

/* About */
.about{
    background-color: #1ABC9C;
    width:100%;
    text-align: center;
    padding: 100px 0 95px 0;
}

.about .about__title{
    font-size: 48px;
    line-height: 40px;
}
.about .about__devider{
    display:flex;
    align-items:center;
    justify-content: center;
    margin:30px 0;
}

.about .about__content{
    font-size:20px;
    line-height: 1.5;
    text-align:left;
    font-family:'Lato', sans-serif;
    font-weight:400;
}
.about .about__content .content__left{
    margin-left: auto;
    padding:  0 24px;
    margin-bottom:20px;
}
.about .about__content .content__right{
    margin-right: auto;
    padding:  0 24px;
    margin-bottom:20px;
}
.about .about__download{
    margin-top:24px;
}
.about .about__download .download__button{
    color:white;
    border: 2px solid white;
    cursor:pointer;
    font-size:20px;
    padding: 16px 28px;
    border-radius:8px;
}
.about .about__download .mr{
    margin-right: 12px;
}
/* End About */
.contact{
  
    margin:100px 250px 110px 250px;
    font-size:22.5px;

}
.contact .contact__title{
    text-align:center;
}
.contact .contact__devider{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:25px;
    margin-bottom: 70px;
}
.contact .contact__form{
    line-height: 1.5;
    color:rgb(44, 62, 80);
    
}
.contact .contact__form .contact__form-content{
    opacity: 0.75;
}
.contact .contact__form .contact__form-content hr{
    opacity: 0.25;
}
.contact .contact__form .contact__form-content .submit__button{
    background-color: #1ABC9C;
    padding: 16px 28px;
    font-size:20px;
    border-radius:8px;
    border: 2px solid transparent;
}
.contact__form-content .w3-input{
    border:none;
}

/* End Contact */
/* Footer */
.footer{
    /* width:100%; */
    padding: 80px 0;
    text-align:center;
    font-family:'Lato', sans-serif; 
    font-size:24px;
    font-weight: 700;
    line-height:1.5;
}

.footer .footer__location{
    padding:0 54px;
}
.footer .footer__location .footer__location-title{
    text-transform: uppercase;
   
}

.footer .footer__location .footer__location-address{
    font-weight:400;
    font-size:20px;
    margin-top:23px;
    text-transform:capitalize;
}
.footer .footer__media{
   
}
.footer .footer__media .footer__media-title{

    text-transform: uppercase;
}

.footer .footer__media .footer__media-logo{
    border: 2px solid white;
    border-radius:50%;
    width:52px;
    height:52px;
    margin:20px 4px 0 4px;
    display:inline-flex;
    justify-content: center;
    align-items:center; 
}
.footer .footer__intro{}
.footer .footer__intro .footer__intro-title{
    text-transform: uppercase;
}
.footer .footer__intro .footer__intro-detail{
    margin-top:23px;
    font-weight:400;
    font-size:20px;
}
.detail__color{
    color:rgb(26, 188, 156);
}
.detail__color:hover{
    text-decoration: underline;
}
/* End Footer */
/* Coppyright */
.coppyright{
    font-size:12px;
    text-align: center;
    padding:30px 0;
    background-color: rgb(26, 37, 47);
}
/* End Coppyright */
.toggle__menu{
    position:absolute;
    top:12px;
    right:16px;
    display:none;
    /* align-items:center; */
 }
 .toggle__menu a{
    text-transform: uppercase;
    color:white;
    padding:12.8px;
    background-color: rgb(26, 188, 156);
    border:2px solid rgb(26, 188, 156);
    border-radius:8px;
    font-size:20px;
    font-weight:700; 
}
/* Changes for tablet screen */
@media (max-width: 768px) {
    .wrapper .header .container{
        margin:0;
        padding:0;
    }
   .header .header__menu .header__menu-left .left__logo{
        font-size:20px;
    }
    .header .header__menu .header__menu-right{
        display:none;
    }
    .toggle__menu{
        display:flex;
    }
  }
/* End changes for tablet screen */